<div>
  <form class="form-container">
    <mat-form-field color="accent" appearance="outline">
      <mat-label>Your Name</mat-label>
      <input matInput placeholder="Name" value="Rupesh Yadav">
    </mat-form-field>

    <mat-form-field color="accent" appearance="outline">
      <mat-label>Contact number</mat-label>
      <input matInput placeholder="Mobile" value="7455969734" type="number">
    </mat-form-field>

    <mat-form-field color="accent" appearance="outline">
      <mat-label>Age</mat-label>
      <input matInput placeholder="Age" type="number" value="22">
    </mat-form-field>

    <mat-form-field color="accent" appearance="outline">
      <mat-label>Bio</mat-label>
      <textarea matInput placeholder="Bio"></textarea>
    </mat-form-field>

    <mat-radio-group>
      <mat-radio-button value="male">Male</mat-radio-button>
      <mat-radio-button value="female">Female</mat-radio-button>
      <mat-radio-button value="other">Other</mat-radio-button>
    </mat-radio-group>
    <br>

    <div>
      <button mat-raised-button type="submit" color="accent">Submit</button>
    </div>
  </form>
</div>


<app-footer></app-footer>
