<div>
  <form class="form-container">
    <mat-form-field color="accent">
      <mat-label>Old Password</mat-label>
      <input matInput placeholder="old password" type="password">
    </mat-form-field>

    <mat-form-field color="accent">
      <mat-label>New Password</mat-label>
      <input matInput placeholder="new password" type="password">
    </mat-form-field>

    <mat-form-field color="accent">
      <mat-label>Confirm Password</mat-label>
      <input matInput placeholder="confirm password" type="password">
    </mat-form-field>
    <br>

    <div>
      <button mat-raised-button type="submit" color="accent">Submit</button>
    </div>
  </form>
</div>


<app-footer></app-footer>
