<mat-card class="mat-elevation-z8">
  <h3>Login</h3>
  <form class="form-container">
    <mat-form-field color="accent">
      <input matInput placeholder="Number">
    </mat-form-field>

    <mat-form-field color="accent">
      <input matInput placeholder="Password">
    </mat-form-field>

    <div>
      <button mat-raised-button type="submit" color="accent">Login</button>
    </div>
  </form>
  <br>
  <span>Don't have an account? <a routerLink="/register">Register</a></span>
  <app-footer></app-footer>
</mat-card>
